.a-hover:hover { 
    cursor: pointer;
    height: 70px;
    width: 70px;
}

.a-hover { 
    margin-left: 5px;
    margin-right: 5px;
}

.center {
    margin-left: 5% !important;
    margin-right: auto !important;
}

.spotify-embed { 
    padding: 5%;
}

.fa-instagram {
    color: #C5008E;
}

.fa-facebook-f {
    color: #129CF7;
}

.white {
    color: white !important;
}


.fa-music { 
    font-size: 35px;
    color: darkslateblue;
}

.setUps {
  margin: 0 !important;  
}

.inside-inner {
    font-size: 2rem;
    font-style: italic;
    padding: 10px;
    /* text-decoration: underline; */
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .spotify-embed {
        padding: 0;
    }

    #kingdom > a > img{
       height: 320px;
    }

    #kingdom {
        padding: 1rem;
    }

    .inside-inner {
        font-size: 1.5rem;
    }

    .fa-music {
        margin-top: 14px;
    }

    .spotify-embed > iframe {
        width: 250px !important;
    }
  }

  @media only screen and (max-width: 1300px) {
    .spotify-embed {
        padding: 5%;
    }

    .spotify-embed > iframe {
        width: 400px;
    }
  }