.a-hover:hover { 
    cursor: pointer;
    height: 70px;
    width: 70px;
}

.a-hover { 
    margin-left: 5px;
    margin-right: 5px;
}

.center {
    margin-left: 5% !important;
    margin-right: auto !important;
}

.spotify-embed { 
    padding: 5%;
}

.fa-instagram {
    color: #C5008E;
}

.fa-facebook-f {
    color: #129CF7;
}

.white {
    color: white !important;
}

.fa-music { 
    font-size: 35px;
    color: darkslateblue;
}

@media only screen and (max-width: 900px) {
    .spotify-embed {
        padding: 0;
    }

    .fa-music {
        margin-top: 14px;
    }

    .spotify-embed > iframe {
        width: 300px;
    }
  }

  @media only screen and (max-width: 1300px) {
    .spotify-embed {
        padding: 5%;
    }

    .spotify-embed > iframe {
        width: 400px;
    }
  }